{{#if question}}

<h1>{{question.content}}</h1>
<a href="/question/{{question._id}}/yes"><button>Yes/ Right</button></a>
<a href="/question/{{question._id}}/no"><button>No/ Left</button></a>

{{else}}
<h1>Question list is empty!</h1>

{{/if}}

{{!-- <form action="/question/{{question.id}}" method="POST">
    <input type="submit" name="vote" value="yes">
    <input type="submit" name="vote" value="no">
</form> --}}